.main {
    width: 100%;
}

.main label {
    display: block;
}

.main input[type="number"], .main select {
    padding-inline-start: var(--size-100);
    padding-block: 0.3rem;
    height: 2rem;
    border: 1px solid var(--color-grey-400);
}

.main input[type="number"] {
    min-width: 5ch;
    line-height: 1;
}

.main select {
    width: auto;
    padding-inline-end: var(--size-100);
}

.main-bg {
    background-color: var(--color-primary-50);
    /* background-color: var(--color-secondary); */
    /* background-color: var(--color-tertiary); */
    border: 5px solid var(--color-primary-400);
    box-shadow: -1px 1px 24px -8px rgba(0,0,0,0.2);
}

.people-input {
    width: 7ch;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: var(--size-400);
}

@media (max-width: 365px) {
    .form-group {
        flex-direction: column;
        align-items: stretch;
    }
}